/*  @media screen  and (min-width:1281px) and  (max-width:1920px)
 {
 .table >thead>tr>th
{
	
}
 .table >tbody
{
font-size:14px ;
}
}
  @media screen and  (max-width:1280px)
{

.table >thead>tr>th
{
  font-size:14px;
}
.table >tbody
{
font-size:13px;
}
}
 */
.title
{
	margin-top:20px;
	margin-bottom: 30px;
	margin-left: 20px;
	width:250px;
	color: #3d3c3c;
	font-size: 1.2em;
	/*font-weight: bold;*/
	border-left: 4px solid #147ecf;
}
.title_index
{
	margin-top:20px;
	margin-bottom: 30px;
	width:250px;
	color: #3d3c3c;
	font-size: 1.2em;
	/*font-weight: bold;*/
	border-left: 4px solid #147ecf;
}
.search
{
	text-align: right;
}

.form-inline>.form-group>input
{
	width:12vw !important;
	font-size: 1.1em !important;
}
.form-inline>.form-group>.input-group>input
{
	width:10vw !important;
	font-size: 1.1em !important;
}
.buttongroups
{
	float: right;
	padding-left: 5px;
}
.table
{
	text-align: center;
}


.check
{
	width:15px;
	height:15px;
}
.push
{
	width:15px;
	height:15px;
}

.basics-search
{
	cursor: hand;
		background-color: #5bc0de;
		border-color: #5bc0de;
		color:#ffffff;
		text-align: center;
}

.editpage-content
{
	width:50%;
	margin:auto;
}
.wrap
{
	width: 22%;
	white-space: pre-wrap;
	/* text-overflow:ellipsis;
	overflow: hidden; */
}

/* label
{
	font-size: 12px;
}
 */

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    height: 28px ;
    line-height: 28px ;
    vertical-align: top ;
    border-top: 1px solid #EEF1F6 ;
	border-bottom: 1px solid #dddddd ;
}
 .table >thead>tr>th
{
	 background-color:  #EEF1F6 ;
/*	background:  linear-gradient(#467fea,#5bc0de);
		color:#ffffff ;*/
		text-align: center ;
			font-size:0.9em ;
}
 .table >tbody
{
text-align: center ;
	font-size:0.8em ;
}

.table >tbody>tr>td
{
	padding: 1px ;
}

.btn-red,.btn-red:hover,btn-red:active
{
background-color: #EC4D57;
	color: #ffffff;
}
.btn-blue,.btn-blue:hover,btn-blue:active
{
background-color: #3099DA;
	color: #ffffff;
}
.btn-purple,.btn-purple:hover,btn-purple:active
{
background-color: #8C43AB;
	color: #ffffff;
}
/*
.btn-sm
{
	!*width: 50px !important;*!
	height: 25px !important;
	font-size: 10px !important;
	line-height: 25px;
}*/

.search-condition
{
	width: 100%;
	height: 46px;
	background-color: #F7FBFC;
	border: 1px solid #E9E9E9;
line-height:40px;

}
.modal-header
{
	height: 40px !important;
	line-height: 40px;
}
.modal-footer
{
	height: 50px !important;
	line-height: 50px !important;
}
.modal-header h4
{
	font-size: 1.2em;
}

.modal-footer button
{
	margin-top: -5px;
/*	padding-bottom: 10px;*/
}
.modal
{
	margin-top: -15px;
}
.table-responsive
{
	height: 70% !important;
	overflow-y: auto !important;
/*	border: none;*/

}
.table
{
	border-bottom: 1px solid #dddddd !important;
}
label
{
	font-size:0.8em !important;
}
input,select,textarea
{
	height: 30px !important;
	line-height: 30px !important;
	font-size: 1em !important;
}
select
{
	font-size:0.8em !important;
}