/*
* @Author: xingli
* @Date:   2018-02-23 15:01:25
* @Last Modified by:   Administrator
* @Last Modified time: 2018-02-24 17:46:09
*/
/* 2018-2-24 xingli ----------- */
/*PUBLIC*/
*{font:"Microsoft YaHei","Arial Narrow",HELVETICA;margin:0;padding:0;}
body{background: #1a7a78;}
.greenWord{color:#1a7a78;}
.fontW{font-weight: bold;}
/*No PUBLIC*/
.header{height: 113px;background: #c3efee;font-size: 47px;text-align:center;}
.block-cs{float: left;color:#75a757;}
.block-cs span{display: block;line-height: 33px;margin-top: 70%;line-height: 200%;}
.block-cs2{float: left;color:#75a757;}
.block-cs2 span{display: block;line-height: 33px;margin-top: 70%;line-height: 200%;}
.block-1{float: left;border-right:dashed #fff100;border-bottom:dashed #fff100;}
.block-2{float: right;border-left:dashed #fff100;border-bottom:dashed #fff100;}
.warning{display: block;float: left;color:#75a757;font-weight: normal;width: 50%;text-align:center;}
.block-3{border-top:dashed #fff100;float: left;}
.block-4{float: left;border-right:dashed #fff100;border-bottom:dashed #fff100;}
.block-5{float: right;border-left:dashed #fff100;border-bottom:dashed #fff100;}
.block-6{float: left;border-right:dashed #fff100;border-top:dashed #fff100;}
.block-7{float: right;border-left:dashed #fff100;border-top:dashed #fff100;}
.allblock li{float: left;height:86%;margin-top:2%;background:#fff;list-style-type: none;}
.allblock li:hover{background: #c8dfdf;cursor: pointer;}
.allblock li div{margin-left: auto;margin-right: auto;border:solid 3px #1a7a78;margin-top: 10px;color:#1a7a78;text-align: center;font-weight:bold;}
.allblock li div span{line-height: 14px;display: block;padding-top:9px;width: 90%; margin-left: auto;margin-right: auto; }
.allblock .disabled{background: #aeaeae;}
.allblock .disabled:hover{background: #aeaeae;cursor: default;}
.allblock li p{width: 80%;margin-top:15%;margin-left:10%;text-align: center;}
.allblock li .bloTit{width: 20%; margin-left: auto;margin-right: auto;margin-top:40%;}
/* 2018-2-24 xingli ----------- */


/*2018-3-19 xingli*/
.block-8{float: left;border-bottom:dashed #fff100;}
.block-8 li{margin-top:1%;text-align: center;}
.block-9{float: left;border:dashed #fff100;border-bottom: none;}
.block-9{text-align: center;}
/*2018-3-19 xingli*/