<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkpal.map.BillgetMapper">
  <resultMap id="BaseResultMap" type="com.linkpal.model.Billget">
    <id column="fid" jdbcType="INTEGER" property="fid" />
    <result column="fnumber" jdbcType="VARCHAR" property="fnumber" />
    <result column="fdodate" jdbcType="TIMESTAMP" property="fdodate" />
    <result column="fstate" jdbcType="INTEGER" property="fstate" />
    <result column="fdepartmentid" jdbcType="INTEGER" property="fdepartmentid" />
    <result column="fsendstockid" jdbcType="INTEGER" property="fsendstockid" />
    <result column="fgeterid" jdbcType="INTEGER" property="fgeterid" />
    <result column="fsenderid" jdbcType="INTEGER" property="fsenderid" />
    <result column="fcreaterid" jdbcType="INTEGER" property="fcreaterid" />
    <result column="fcreatedate" jdbcType="TIMESTAMP" property="fcreatedate" />
    <result column="fauditorid" jdbcType="INTEGER" property="fauditorid" />
    <result column="fauditdate" jdbcType="TIMESTAMP" property="fauditdate" />
    <result column="fbiztype" jdbcType="VARCHAR" property="fbiztype" />
    <result column="fcustomid" jdbcType="INTEGER" property="fcustomid" />
    <result column="fisqt" jdbcType="INTEGER" property="fisqt" />

    <association property="organization" javaType="com.linkpal.model.Organization">
      <id column="orid" property="fid"/>
      <result column="ornumber" property="organizationnumber"/>
      <result column="orname" property="organizationname"/>
    </association>

    <association property="stock" javaType="com.linkpal.model.Stock">
      <id column="stid" property="fid"/>
      <result column="stnumber" property="stocknumber"/>
      <result column="stname" property="stockname"/>
    </association>

    <association property="getuser" javaType="com.linkpal.model.User">
      <id column="guid" property="fid"/>
      <result column="guname" property="username"/>
    </association>

    <association property="senduser" javaType="com.linkpal.model.User">
      <id column="suid" property="fid"/>
      <result column="suname" property="username"/>
    </association>

    <association property="creator" javaType="com.linkpal.model.User">
      <id column="crid" property="fid"/>
      <result column="crname" property="username"/>
    </association>

    <association property="auditor" javaType="com.linkpal.model.User">
      <id column="auid" property="fid"/>
      <result column="auname" property="username"/>
    </association>

    <association property="custom" javaType="com.linkpal.model.Custom">
      <id column="cuid" property="fid"/>
      <result column="cunumber" property="customnumber"/>
      <result column="cuname" property="customname"/>
    </association>

    <collection property="billgetentries" ofType="com.linkpal.model.Billgetentry">
      <result column="feid" jdbcType="INTEGER" property="fid" />
      <result column="fmaterialid" jdbcType="INTEGER" property="fmaterialid" />
      <result column="flot" jdbcType="INTEGER" property="flot" />
      <result column="fapplyqty" jdbcType="DOUBLE" property="fapplyqty" />
      <result column="frealqty" jdbcType="DOUBLE" property="frealqty" />
      <result column="finventory" jdbcType="DOUBLE" property="finventory" />
      <result column="fsendstockid" jdbcType="INTEGER" property="fsendstockid" />
      <result column="fnote" jdbcType="VARCHAR" property="fnote" />
      <result column="foid" jdbcType="INTEGER" property="foid" />
      <result column="fentryid" jdbcType="INTEGER" property="fentryid" />
      <result column="fbillid" jdbcType="INTEGER" property="fbillid" />

      <association property="material" javaType="com.linkpal.model.Material">
        <id column="maid" property="fid"/>
        <result column="manumber" property="materialnumber"/>
        <result column="maname" property="materialname"/>
        <result column="mamodel" property="materialmodel"/>
        <result column="maunit" property="materialunit"/>
      </association>

      <association property="estock" javaType="com.linkpal.model.Stock">
        <id column="estid" property="fid"/>
        <result column="estnumber" property="stocknumber"/>
        <result column="estname" property="stockname"/>
      </association>

    </collection>

  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">

    t0.*,t1.fid orid,t1.organizationnumber ornumber,t1.organizationname orname,t2.fid stif,t2.stocknumber stnumber,t2.stockname stname,
    t3.fid guid,t3.username guname,t4.fid suid,t4.username suname,t5.fid crid,t5.username crname,t6.fid auid,t6.username auname,
    t7.fid cuid,t7.customnumber cunumber,t7.customname cuname,t8.fid feid,t8.fmaterialid,t8.flot,t8.fapplyqty,t8.frealqty,t8.finventory
      ,t8.fsendstockid,t8.fnote,t8.fid,t8.foid,t8.fentryid,t8.fbillid,t9.fid maid,t9.materialnumber manumber,t9.materialname maname,
      t9.materialmodel mamodel,t9.materialunit maunit,t10.fid estid,t10.stocknumber estnumber,t10.stockname estname
  </sql>
  <select id="selectByExample" parameterType="com.linkpal.model.example.BillgetExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from T_VS_BillGet t0
    left join T_VS_Organization t1 on t0.fdepartmentid=t1.fid
    left join T_VS_Stock t2 on t0.fsendstockid=t2.fid
    left join T_VS_User t3 on t0.fgeterid=t3.fid
    left join T_VS_User t4 on t0.fsenderid=t4.fid
    left join T_VS_User t5 on t0.fcreaterid=t5.fid
    left join T_VS_User  t6 on t0.fauditdate=t6.fid
    left join T_VS_Custom t7 on t0.fcustomid=t7.fid
    left join T_VS_BillGetEntry t8 on t0.fid=t8.fbillid
    left join T_VS_Material t9 on t8.fmaterialid=t9.fid
    left join T_VS_Stock t10 on t8.fsendstockid=t10.fid
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_VS_BillGet t0
    left join T_VS_Organization t1 on t0.fdepartmentid=t1.fid
    left join T_VS_Stock t2 on t0.fsendstockid=t2.fid
    left join T_VS_User t3 on t0.fgeterid=t3.fid
    left join T_VS_User t4 on t0.fsenderid=t4.fid
    left join T_VS_User t5 on t0.fcreaterid=t5.fid
    left join T_VS_User  t6 on t0.fauditdate=t6.fid
    left join T_VS_Custom t7 on t0.fcustomid=t7.fid
    left join T_VS_BillGetEntry t8 on t0.fid=t8.fbillid
    left join T_VS_Material t9 on t8.fmaterialid=t9.fid
    left join T_VS_Stock t10 on t8.fsendstockid=t10.fid
    where t0.fid = #{fid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from T_VS_BillGet
    where fid = #{fid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.linkpal.model.example.BillgetExample">
    delete from T_VS_BillGet
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.linkpal.model.Billget">
    <!--<selectKey keyProperty="fid" order="AFTER" resultType="java.lang.Integer">
      &lt;!&ndash; SELECT LAST_INSERT_ID()：得到刚insert到数据表中的记录的主键值，只适用于自增主键 &ndash;&gt;
      select @@indentity fid
    </selectKey>-->
    insert into T_VS_BillGet ( fnumber, fdodate,
      fstate, fdepartmentid, fsendstockid, 
      fgeterid, fsenderid, fcreaterid, 
      fcreatedate, fauditorid, fauditdate, 
      fbiztype, fcustomid,fisqt)
    values ( #{fnumber,jdbcType=VARCHAR}, #{fdodate,jdbcType=TIMESTAMP},
      #{fstate,jdbcType=INTEGER}, #{fdepartmentid,jdbcType=INTEGER}, #{fsendstockid,jdbcType=INTEGER}, 
      #{fgeterid,jdbcType=INTEGER}, #{fsenderid,jdbcType=INTEGER}, #{fcreaterid,jdbcType=INTEGER}, 
      #{fcreatedate,jdbcType=TIMESTAMP}, #{fauditorid,jdbcType=INTEGER}, #{fauditdate,jdbcType=TIMESTAMP}, 
      #{fbiztype,jdbcType=VARCHAR}, #{fcustomid,jdbcType=INTEGER}, #{fisqt,jdbcType=INTEGER})

  </insert>
  <insert id="insertSelective" parameterType="com.linkpal.model.Billget">
    insert into T_VS_BillGet
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="fnumber != null">
        fnumber,
      </if>
      <if test="fdodate != null">
        fdodate,
      </if>
      <if test="fstate != null">
        fstate,
      </if>
      <if test="fdepartmentid != null">
        fdepartmentid,
      </if>
      <if test="fsendstockid != null">
        fsendstockid,
      </if>
      <if test="fgeterid != null">
        fgeterid,
      </if>
      <if test="fsenderid != null">
        fsenderid,
      </if>
      <if test="fcreaterid != null">
        fcreaterid,
      </if>
      <if test="fcreatedate != null">
        fcreatedate,
      </if>
      <if test="fauditorid != null">
        fauditorid,
      </if>
      <if test="fauditdate != null">
        fauditdate,
      </if>
      <if test="fbiztype != null">
        fbiztype,
      </if>
      <if test="fcustomid != null">
        fcustomid,
      </if>
      <if test="fisqt != null">
        fisqt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="fnumber != null">
        #{fnumber,jdbcType=VARCHAR},
      </if>
      <if test="fdodate != null">
        #{fdodate,jdbcType=TIMESTAMP},
      </if>
      <if test="fstate != null">
        #{fstate,jdbcType=INTEGER},
      </if>
      <if test="fdepartmentid != null">
        #{fdepartmentid,jdbcType=INTEGER},
      </if>
      <if test="fsendstockid != null">
        #{fsendstockid,jdbcType=INTEGER},
      </if>
      <if test="fgeterid != null">
        #{fgeterid,jdbcType=INTEGER},
      </if>
      <if test="fsenderid != null">
        #{fsenderid,jdbcType=INTEGER},
      </if>
      <if test="fcreaterid != null">
        #{fcreaterid,jdbcType=INTEGER},
      </if>
      <if test="fcreatedate != null">
        #{fcreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="fauditorid != null">
        #{fauditorid,jdbcType=INTEGER},
      </if>
      <if test="fauditdate != null">
        #{fauditdate,jdbcType=TIMESTAMP},
      </if>
      <if test="fbiztype != null">
        #{fbiztype,jdbcType=VARCHAR},
      </if>
      <if test="fcustomid != null">
        #{fcustomid,jdbcType=INTEGER},
      </if>
      <if test="fcustomid != null">
        #{fisqt,jdbcType=INTEGER}
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.linkpal.model.example.BillgetExample" resultType="java.lang.Long">
    select count(*) from T_VS_BillGet
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update T_VS_BillGet
    <set>
      <if test="record.fid != null">
        fid = #{record.fid,jdbcType=INTEGER},
      </if>
      <if test="record.fnumber != null">
        fnumber = #{record.fnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.fdodate != null">
        fdodate = #{record.fdodate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fstate != null">
        fstate = #{record.fstate,jdbcType=INTEGER},
      </if>
      <if test="record.fdepartmentid != null">
        fdepartmentid = #{record.fdepartmentid,jdbcType=INTEGER},
      </if>
      <if test="record.fsendstockid != null">
        fsendstockid = #{record.fsendstockid,jdbcType=INTEGER},
      </if>
      <if test="record.fgeterid != null">
        fgeterid = #{record.fgeterid,jdbcType=INTEGER},
      </if>
      <if test="record.fsenderid != null">
        fsenderid = #{record.fsenderid,jdbcType=INTEGER},
      </if>
      <if test="record.fcreaterid != null">
        fcreaterid = #{record.fcreaterid,jdbcType=INTEGER},
      </if>
      <if test="record.fcreatedate != null">
        fcreatedate = #{record.fcreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fauditorid != null">
        fauditorid = #{record.fauditorid,jdbcType=INTEGER},
      </if>
      <if test="record.fauditdate != null">
        fauditdate = #{record.fauditdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fbiztype != null">
        fbiztype = #{record.fbiztype,jdbcType=VARCHAR},
      </if>
      <if test="record.fcustomid != null">
        fcustomid = #{record.fcustomid,jdbcType=INTEGER},
      </if>
      <if test="record.fisqt != null">
        fisqt = #{record.fisqt,jdbcType=INTEGER}
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update T_VS_BillGet
    set fid = #{record.fid,jdbcType=INTEGER},
      fnumber = #{record.fnumber,jdbcType=VARCHAR},
      fdodate = #{record.fdodate,jdbcType=TIMESTAMP},
      fstate = #{record.fstate,jdbcType=INTEGER},
      fdepartmentid = #{record.fdepartmentid,jdbcType=INTEGER},
      fsendstockid = #{record.fsendstockid,jdbcType=INTEGER},
      fgeterid = #{record.fgeterid,jdbcType=INTEGER},
      fsenderid = #{record.fsenderid,jdbcType=INTEGER},
      fcreaterid = #{record.fcreaterid,jdbcType=INTEGER},
      fcreatedate = #{record.fcreatedate,jdbcType=TIMESTAMP},
      fauditorid = #{record.fauditorid,jdbcType=INTEGER},
      fauditdate = #{record.fauditdate,jdbcType=TIMESTAMP},
      fbiztype = #{record.fbiztype,jdbcType=VARCHAR},
      fcustomid = #{record.fcustomid,jdbcType=INTEGER},
    fisqt = #{record.fisqt,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.linkpal.model.Billget">
    update T_VS_BillGet
    <set>
      <if test="fnumber != null">
        fnumber = #{fnumber,jdbcType=VARCHAR},
      </if>
      <if test="fdodate != null">
        fdodate = #{fdodate,jdbcType=TIMESTAMP},
      </if>
      <if test="fstate != null">
        fstate = #{fstate,jdbcType=INTEGER},
      </if>
      <if test="fdepartmentid != null">
        fdepartmentid = #{fdepartmentid,jdbcType=INTEGER},
      </if>
      <if test="fsendstockid != null">
        fsendstockid = #{fsendstockid,jdbcType=INTEGER},
      </if>
      <if test="fgeterid != null">
        fgeterid = #{fgeterid,jdbcType=INTEGER},
      </if>
      <if test="fsenderid != null">
        fsenderid = #{fsenderid,jdbcType=INTEGER},
      </if>
      <if test="fcreaterid != null">
        fcreaterid = #{fcreaterid,jdbcType=INTEGER},
      </if>
      <if test="fcreatedate != null">
        fcreatedate = #{fcreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="fauditorid != null">
        fauditorid = #{fauditorid,jdbcType=INTEGER},
      </if>
      <if test="fauditdate != null">
        fauditdate = #{fauditdate,jdbcType=TIMESTAMP},
      </if>
      <if test="fbiztype != null">
        fbiztype = #{fbiztype,jdbcType=VARCHAR},
      </if>
      <if test="fcustomid != null">
        fcustomid = #{fcustomid,jdbcType=INTEGER},
      </if>
      <if test="record.fisqt != null">
        fisqt = #{record.fisqt,jdbcType=INTEGER}
      </if>
    </set>
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linkpal.model.Billget">
    update T_VS_BillGet
    set fnumber = #{fnumber,jdbcType=VARCHAR},
      fdodate = #{fdodate,jdbcType=TIMESTAMP},
      fstate = #{fstate,jdbcType=INTEGER},
      fdepartmentid = #{fdepartmentid,jdbcType=INTEGER},
      fsendstockid = #{fsendstockid,jdbcType=INTEGER},
      fgeterid = #{fgeterid,jdbcType=INTEGER},
      fsenderid = #{fsenderid,jdbcType=INTEGER},
      fcreaterid = #{fcreaterid,jdbcType=INTEGER},
      fcreatedate = #{fcreatedate,jdbcType=TIMESTAMP},
      fauditorid = #{fauditorid,jdbcType=INTEGER},
      fauditdate = #{fauditdate,jdbcType=TIMESTAMP},
      fbiztype = #{fbiztype,jdbcType=VARCHAR},
      fcustomid = #{fcustomid,jdbcType=INTEGER},
          fisqt = #{fisqt,jdbcType=INTEGER}

    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <select id="getList"  resultMap="BaseResultMap" parameterType="java.util.Map" >
  SELECT top ${pageSize}    <include refid="Base_Column_List" />
    from T_VS_BillGet t0
    left join T_VS_Organization t1 on t0.fdepartmentid=t1.fid
    left join T_VS_Stock t2 on t0.fsendstockid=t2.fid
    left join T_VS_User t3 on t0.fgeterid=t3.fid
    left join T_VS_User t4 on t0.fsenderid=t4.fid
    left join T_VS_User t5 on t0.fcreaterid=t5.fid
    left join T_VS_User  t6 on t0.fauditdate=t6.fid
    left join T_VS_Custom t7 on t0.fcustomid=t7.fid
    left join T_VS_BillGetEntry t8 on t0.fid=t8.fbillid
    left join T_VS_Material t9 on t8.fmaterialid=t9.fid
    left join T_VS_Stock t10 on t8.fsendstockid=t10.fid
    where t0.fid not IN (
    select top ${pageIndex} tt0.fid from T_VS_BillGet tt0
    left join T_VS_BillGetEntry tt1 on tt0.fid=tt1.fbillid
    where CONVERT(varchar,tt0.fdodate,23) between #{sdate} and #{edate}
    <if test="fnumber!='' and fnumber!=null">
     and tt0.fnumber like '%${fnumber}%'
    </if>
    <if test="fdepartmentid>0">
      and tt0.fdepartmentid =#{fdepartmentid}
    </if>

    <if test="fsendstockid>0">
      and tt1.fsendstockid =#{fstockid}
    </if>

    <if test="fstate>-1">
      and tt0.fstate =#{fstate}
    </if>

    <if test="fgeterid>0">
      and tt0.fgeterid =#{fgeterid}
    </if>

    <if test="fsenderid>0">
      and tt0.fsenderid =#{fsenderid}
    </if>

    <if test="fcreaterid>0">
      and tt0.fcreaterid =#{fcreaterid}
    </if>

    <if test="fauditdate>0">
      and tt0.fauditdate =#{fauditdate}
    </if>

    <if test="fcustomid>0">
      and tt0.fcustomid =#{fcustomid}
    </if>

    <if test="fmaterialid>0">
      and tt1.fmaterialid =#{fmaterialid}
    </if>
    )
    and CONVERT(varchar,t0.fdodate,23) between #{sdate} and #{edate}
    <if test="fnumber!='' and fnumber!=null">
      and t0.fnumber like '%${fnumber}%'
    </if>
    <if test="fdepartmentid>0">
      and t0.fdepartmentid =#{fdepartmentid}
    </if>

    <if test="fstate>-1">
      and t0.fstate =#{fstate}
    </if>


    <if test="fsendstockid>0">
      and t8.fsendstockid =#{fstockid}
    </if>

    <if test="fgeterid>0">
      and t0.fgeterid =#{fgeterid}
    </if>

    <if test="fsenderid>0">
      and t0.fsenderid =#{fsenderid}
    </if>

    <if test="fcreaterid>0">
      and t0.fcreaterid =#{fcreaterid}
    </if>

    <if test="fauditdate>0">
      and t0.fauditdate =#{fauditdate}
    </if>

    <if test="fcustomid>0">
      and t0.fcustomid =#{fcustomid}
    </if>

    <if test="fmaterialid>0">
      and t8.fmaterialid =#{fmaterialid}
    </if>
    order by t0.fid
  </select>
  <select id="getTotalNum" parameterType="java.util.Map" resultType="int">

    select count(*) from T_VS_BillGet tt0
    left join T_VS_BillGetEntry tt1 on tt0.fid=tt1.fbillid
    where CONVERT(varchar,tt0.fdodate,23) between #{sdate} and #{edate}
    <if test="fnumber!='' and fnumber!=null">
      and tt0.fnumber like '%${fnumber}%'
    </if>
    <if test="fdepartmentid>0">
      and tt0.fdepartmentid =#{fdepartmentid}
    </if>

    <if test="fstate>-1">
      and tt0.fstate =#{fstate}
    </if>


    <if test="fsendstockid>0">
      and tt1.fsendstockid =#{fstockid}
    </if>

    <if test="fgeterid>0">
      and tt0.fgeterid =#{fgeterid}
    </if>

    <if test="fsenderid>0">
      and tt0.fsenderid =#{fsenderid}
    </if>

    <if test="fcreaterid>0">
      and tt0.fcreaterid =#{fcreaterid}
    </if>

    <if test="fauditdate>0">
      and tt0.fauditdate =#{fauditdate}
    </if>

    <if test="fcustomid>0">
      and tt0.fcustomid =#{fcustomid}
    </if>

    <if test="fmaterialid>0">
      and tt1.fmaterialid =#{fmaterialid}
    </if>
  </select>

  <delete id="deleteBatch">
    delete from T_VS_BillGet where FID in (
    <foreach collection="array" index="index" item="item" open="" separator="," close="">
      #{item}
    </foreach>
    )

    delete from T_VS_BillGetentry where fbillid in (
    <foreach collection="array" index="index" item="item" open="" separator="," close="">
      #{item}
    </foreach>
    )

  </delete>

<!--
  <select id="getTotalNum" parameterType="java.util.Map" resultType="int">
  </select>
-->
  <select id="getAutoNumber" resultType="String">
 exec Proc_initAutoNum 'T_VS_BillGet','LL'
  </select>
</mapper>