<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkpal.map.BillcheckMapper">
  <resultMap id="BaseResultMap" type="com.linkpal.model.Billcheck">
    <id column="fid" jdbcType="INTEGER" property="fid" />
    <result column="fnumber" jdbcType="VARCHAR" property="fnumber" />
    <result column="fbizdate" jdbcType="TIMESTAMP" property="fbizdate" />
    <result column="fsupplierid" jdbcType="INTEGER" property="fsupplierid" />
    <result column="fcruid" jdbcType="INTEGER" property="fcruid" />
    <result column="fchuid" jdbcType="INTEGER" property="fchuid" />
    <result column="fcretime" jdbcType="TIMESTAMP" property="fcretime" />
    <result column="fchetime" jdbcType="TIMESTAMP" property="fchetime" />
    <result column="fstatus" jdbcType="INTEGER" property="fstatus" />
    <result column="fboxno" jdbcType="VARCHAR" property="fboxno" />
    <result column="fisqt" jdbcType="INTEGER" property="fisqt" />

    <association property="supplier" javaType="com.linkpal.model.Supplier">
      <id column="suid" property="fid"/>
      <result column="sunumber" property="suppliernumber"/>
      <result column="suname" property="suppliername"/>
    </association>

    <association property="creator" javaType="com.linkpal.model.User">
      <id column="crid" property="fid"/>
      <result column="crname" property="username"/>
    </association>

    <association property="auditor" javaType="com.linkpal.model.User">
      <id column="auid" property="fid"/>
      <result column="auname" property="username"/>
    </association>

    <collection property="billcheckentries" ofType="com.linkpal.model.Billcheckentry">
      <id column="feid" jdbcType="INTEGER" property="fid" />
      <result column="foid" jdbcType="INTEGER" property="foid" />
      <result column="fobillid" jdbcType="INTEGER" property="fobillid" />
      <result column="fonumber" jdbcType="VARCHAR" property="fonumber" />
      <result column="fmaid" jdbcType="INTEGER" property="fmaid" />
      <result column="fentryid" jdbcType="INTEGER" property="fentryid" />
      <result column="fqty" jdbcType="INTEGER" property="fqty" />
      <result column="fdate" jdbcType="TIMESTAMP" property="fdate" />
      <result column="fbillid" jdbcType="INTEGER" property="fbillid" />
      <result column="feligqty" jdbcType="INTEGER" property="feligqty" />
      <result column="funqty" jdbcType="INTEGER" property="funqty" />
      <result column="freason" jdbcType="VARCHAR" property="freason" />
      <result column="fresult" jdbcType="VARCHAR" property="fresult" />
      <result column="fbatch" jdbcType="VARCHAR" property="fbatch" />
      <result column="fguartime" jdbcType="VARCHAR" property="fguartime" />
      <result column="fdeltime" jdbcType="TIMESTAMP" property="fdeltime" />
      <result column="fstockid" jdbcType="INTEGER" property="fstockid" />

      <association property="fMaterial" javaType="com.linkpal.model.Material">
        <id column="fmaid" jdbcType="INTEGER" property="fid" />
        <result column="materialNumber" jdbcType="VARCHAR" property="materialnumber" />
        <result column="materialName" jdbcType="VARCHAR" property="materialname" />
        <result column="materialModel" jdbcType="VARCHAR" property="materialmodel" />
        <result column="materialUnit" jdbcType="VARCHAR" property="materialunit" />
      </association>
      <association property="fStock" javaType="com.linkpal.model.Stock">
        <id column="fstid" jdbcType="INTEGER" property="fid" />
        <result column="stockNumber" jdbcType="VARCHAR" property="stocknumber" />
        <result column="stockName" jdbcType="VARCHAR" property="stockname" />
        <result column="stockAddress" jdbcType="VARCHAR" property="stockaddress" />
        <result column="stockTel" jdbcType="VARCHAR" property="stocktel" />
      </association>
    </collection>

  </resultMap>



  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    t0.*,t1.fid feid,t1.foid ,t1.fobillid,t1.fonumber,t1.fentryid,t1.fmaid,t1.fqty,t1.fdate,t1.fbillid,t1.feligqty,t1.funqty,t1.freason
,t1.fresult,t1.fbatch,t1.fguartime ,t1.fdeltime ,t1.fstockid,t2.fid suid,t2.supplierNumber sunumber,t2.supplierName suname,
 t3.fid crid,t3.username crname,t4.fid auid,t4.username auname,t5.fid fmaid,t5.materialNumber,t5.materialName,t5.materialModel,
 t5.materialUnit,t6.fid fstid,t6.stocknumber,t6.stockname,t6.stockaddress,t6.stocktel
  </sql>
  <select id="selectByExample" parameterType="com.linkpal.model.example.BillcheckExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from T_VS_BillCheck t0
    left join T_VS_BillCheckEntry t1 on t0.fid=t1.fbillid
    left join T_VS_Supplier t2 on t0.fsupplierid=t2.fid
    left join T_VS_User t3 on t0.fcruid=t3.fid
    left join T_VS_User t4 on t0.fchuid=t4.fid
    left join T_VS_Material t5 on t1.fmaid=t5.fid
    left join T_VS_Stock t6 on t1.fstockid=t6.fid
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
     from T_VS_BillCheck t0
    left join T_VS_BillCheckEntry t1 on t0.fid=t1.fbillid
    left join T_VS_Supplier t2 on t0.fsupplierid=t2.fid
    left join T_VS_User t3 on t0.fcruid=t3.fid
    left join T_VS_User t4 on t0.fchuid=t4.fid
    left join T_VS_Material t5 on t1.fmaid=t5.fid
    left join T_VS_Stock t6 on t1.fstockid=t6.fid
    where t0.fid = #{fid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from T_VS_BillCheck
    where fid = #{fid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.linkpal.model.example.BillcheckExample">
    delete from T_VS_BillCheck
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.linkpal.model.Billcheck">
    insert into T_VS_BillCheck (fnumber, fbizdate,
      fsupplierid, fcruid, fchuid, 
      fcretime, fchetime, fstatus,fboxno,fisqt
      )
    values ( #{fnumber,jdbcType=VARCHAR}, #{fbizdate,jdbcType=TIMESTAMP},
      #{fsupplierid,jdbcType=INTEGER}, #{fcruid,jdbcType=INTEGER}, #{fchuid,jdbcType=INTEGER}, 
      #{fcretime,jdbcType=TIMESTAMP}, #{fchetime,jdbcType=TIMESTAMP}, #{fstatus,jdbcType=INTEGER},
      #{fboxno,jdbcType=VARCHAR},#{fisqt,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.linkpal.model.Billcheck">
    insert into T_VS_BillCheck
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="fnumber != null">
        fnumber,
      </if>
      <if test="fbizdate != null">
        fbizdate,
      </if>
      <if test="fsupplierid != null">
        fsupplierid,
      </if>
      <if test="fcruid != null">
        fcruid,
      </if>
      <if test="fchuid != null">
        fchuid,
      </if>
      <if test="fcretime != null">
        fcretime,
      </if>
      <if test="fchetime != null">
        fchetime,
      </if>
      <if test="fstatus != null">
        fstatus,
      </if>
      <if test="fboxno !=null">
        fboxno,
      </if>
      <if test="fisqt">
        fisqt
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="fnumber != null">
        #{fnumber,jdbcType=VARCHAR},
      </if>
      <if test="fbizdate != null">
        #{fbizdate,jdbcType=TIMESTAMP},
      </if>
      <if test="fsupplierid != null">
        #{fsupplierid,jdbcType=INTEGER},
      </if>
      <if test="fcruid != null">
        #{fcruid,jdbcType=INTEGER},
      </if>
      <if test="fchuid != null">
        #{fchuid,jdbcType=INTEGER},
      </if>
      <if test="fcretime != null">
        #{fcretime,jdbcType=TIMESTAMP},
      </if>
      <if test="fchetime != null">
        #{fchetime,jdbcType=TIMESTAMP},
      </if>
      <if test="fstatus != null">
        #{fstatus,jdbcType=INTEGER},
      </if>
      <if test="fboxno != null">
        #{fboxno,jdbcType=VARCHAR},
      </if>
      <if test="fisqt != null">
        #{fisqt,jdbcType=INTEGER}
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.linkpal.model.example.BillcheckExample" resultType="java.lang.Long">
    select count(*) from T_VS_BillCheck
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update T_VS_BillCheck
    <set>
      <if test="record.fid != null">
        fid = #{record.fid,jdbcType=INTEGER},
      </if>
      <if test="record.fnumber != null">
        fnumber = #{record.fnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.fbizdate != null">
        fbizdate = #{record.fbizdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fsupplierid != null">
        fsupplierid = #{record.fsupplierid,jdbcType=INTEGER},
      </if>
      <if test="record.fcruid != null">
        fcruid = #{record.fcruid,jdbcType=INTEGER},
      </if>
      <if test="record.fchuid != null">
        fchuid = #{record.fchuid,jdbcType=INTEGER},
      </if>
      <if test="record.fcretime != null">
        fcretime = #{record.fcretime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fchetime != null">
        fchetime = #{record.fchetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fstatus != null">
        fstatus = #{record.fstatus,jdbcType=INTEGER},
      </if>
      <if test="fboxno != null">
        fboxno=#{fboxno,jdbcType=VARCHAR},
      </if>
      <if test="fisqt != null">
        fisqt=#{fisqt,jdbcType=INTEGER}
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update T_VS_BillCheck
    set fid = #{record.fid,jdbcType=INTEGER},
      fnumber = #{record.fnumber,jdbcType=VARCHAR},
      fbizdate = #{record.fbizdate,jdbcType=TIMESTAMP},
      fsupplierid = #{record.fsupplierid,jdbcType=INTEGER},
      fcruid = #{record.fcruid,jdbcType=INTEGER},
      fchuid = #{record.fchuid,jdbcType=INTEGER},
      fcretime = #{record.fcretime,jdbcType=TIMESTAMP},
      fchetime = #{record.fchetime,jdbcType=TIMESTAMP},
      fstatus = #{record.fstatus,jdbcType=INTEGER},
      fboxno=#{fboxno,jdbcType=VARCHAR},
      fisqt=#{fisqt,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.linkpal.model.Billcheck">
    update T_VS_BillCheck
    <set>
      <if test="fnumber != null">
        fnumber = #{fnumber,jdbcType=VARCHAR},
      </if>
      <if test="fbizdate != null">
        fbizdate = #{fbizdate,jdbcType=TIMESTAMP},
      </if>
      <if test="fsupplierid != null">
        fsupplierid = #{fsupplierid,jdbcType=INTEGER},
      </if>
      <if test="fcruid != null">
        fcruid = #{fcruid,jdbcType=INTEGER},
      </if>
      <if test="fchuid != null">
        fchuid = #{fchuid,jdbcType=INTEGER},
      </if>
      <if test="fcretime != null">
        fcretime = #{fcretime,jdbcType=TIMESTAMP},
      </if>
      <if test="fchetime != null">
        fchetime = #{fchetime,jdbcType=TIMESTAMP},
      </if>
      <if test="fstatus != null">
        fstatus = #{fstatus,jdbcType=INTEGER},
      </if>
    </set>
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linkpal.model.Billcheck">
    update T_VS_BillCheck
    set fnumber = #{fnumber,jdbcType=VARCHAR},
      fbizdate = #{fbizdate,jdbcType=TIMESTAMP},
      fsupplierid = #{fsupplierid,jdbcType=INTEGER},
      fcruid = #{fcruid,jdbcType=INTEGER},
      fchuid = #{fchuid,jdbcType=INTEGER},
      fcretime = #{fcretime,jdbcType=TIMESTAMP},
      fchetime = #{fchetime,jdbcType=TIMESTAMP},
      fstatus = #{fstatus,jdbcType=INTEGER},
      fboxno=#{fboxno,jdbcType=VARCHAR},
      fisqt=#{fisqt,jdbcType=INTEGER}
    where fid = #{fid,jdbcType=INTEGER}
  </update>


  <select id="getList"  resultMap="BaseResultMap" parameterType="java.util.Map" >
    SELECT top ${pageSize}    <include refid="Base_Column_List" />
    from T_VS_BillCheck t0
    left join T_VS_BillCheckEntry t1 on t0.fid=t1.fbillid
    left join T_VS_Supplier t2 on t0.fsupplierid=t2.fid
    left join T_VS_User t3 on t0.fcruid=t3.fid
    left join T_VS_User t4 on t0.fchuid=t4.fid
    left join T_VS_Material t5 on t1.fmaid=t5.fid
    left join T_VS_Stock t6 on t1.fstockid=t6.fid
    where t0.fid not IN (
    select top ${pageIndex} tt0.fid from T_VS_BillCheck tt0
    left join T_VS_BillCheckEntry tt1 on tt0.fid=tt1.fbillid
    where CONVERT(varchar,tt0.fbizdate,23) between #{sdate} and #{edate}
    <if test="fnumber!='' and fnumber!=null">
      and tt0.fnumber like '%${fnumber}%'
    </if>
    <if test="fsupplierid>0">
      and tt0.fsupplierid =#{fsupplierid}
    </if>

    <if test="fstatus>-1">
      and tt0.fstatus =#{fstatus}
    </if>

    <if test="fonumber!='' and fonumber!=null">
      and tt1.fonumber =#{fonumber}
    </if>

    <if test="fmaid>0">
      and tt1.fmaid =#{fmaid}
    </if>

    <if test="fstockid>0">
      and tt1.fstockid =#{fstockid}
    </if>

    <if test="fdate!='' and fdate!=null">
      and tt1.fdate =#{fdate}
    </if>

    <if test="fdeltime!='' and fdeltime!=null">
      and tt1.fdeltime =#{fdeltime}
    </if>
    )
    and CONVERT(varchar,t0.fbizdate,23) between #{sdate} and #{edate}
    <if test="fnumber!='' and fnumber!=null">
      and t0.fnumber like '%${fnumber}%'
    </if>
    <if test="fsupplierid>0">
      and t0.fsupplierid =#{fsupplierid}
    </if>

    <if test="fstatus>-1 and fstatus!=null">
      and t0.fstatus =#{fstatus}
    </if>
    <if test="fonumber!='' and fonumber!=null">
      and t1.fonumber =#{fonumber}
    </if>

    <if test="fmaid>0">
      and t1.fmaid =#{fmaid}
    </if>

    <if test="fstockid>0">
      and t1.fstockid =#{fstockid}
    </if>

    <if test="fdate!='' and fdate!=null">
      and t1.fdate =#{fdate}
    </if>

    <if test="fdeltime!='' and fdeltime!=null">
      and t1.fdeltime =#{fdeltime}
    </if>
    order by t0.fid
  </select>
  <select id="getTotalNum" parameterType="java.util.Map" resultType="int">

    select count(*) from T_VS_BillCheck tt0
    left join T_VS_BillCheckEntry tt1 on tt0.fid=tt1.fbillid
    where CONVERT(varchar,tt0.fbizdate,23) between #{sdate} and #{edate}
    <if test="fnumber!='' and fnumber!=null">
      and tt0.fnumber like '%${fnumber}%'
    </if>
    <if test="fsupplierid>0">
      and tt0.fsupplierid =#{fsupplierid}
    </if>

    <if test="fstatus>-1 and fstatus!=null">
      and tt0.fstatus =#{fstatus}
    </if>
    <if test="fonumber!='' and fonumber!=null">
      and tt1.fonumber =#{fonumber}
    </if>

    <if test="fmaid>0">
      and tt1.fmaid =#{fmaid}
    </if>

    <if test="fstockid>0">
      and tt1.fstockid =#{fstockid}
    </if>

    <if test="fdate!='' and fdate!=null">
      and tt1.fdate =#{fdate}
    </if>

    <if test="fdeltime!='' and fdeltime!=null">
      and tt1.fdeltime =#{fdeltime}
    </if>
  </select>

  <delete id="deleteBatch">
    delete from T_VS_BillCheck where FID in (
    <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
    )

    delete from T_VS_BillCheckentry where fbillid in (
    <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
    )

  </delete>

  <select id="getAutoNumber" resultType="String">
exec Proc_initAutoNum 'T_VS_BillCheck','SHTZ'
  </select>

  <select id="checkRelation" statementType="CALLABLE" resultType="String" parameterType="java.util.Map">
    exec Proc_checkRelation #{fid},'t_vs_billstockentry'
  </select>

  <select id="getPushDownQty" statementType="CALLABLE"  parameterType="Integer" resultType="float">
    exec Proc_getPushDownQty #{fentryid},#{fid},'t_vs_billstockentry'
  </select>

  <select id="initAutoboxno" statementType="CALLABLE"  parameterType="String" resultType="String">
    exec Proc_initAutoboxno #{fonumber}
  </select>

  <select id="BillCheck" statementType="CALLABLE"  parameterType="Integer" resultType="int">
    exec Proc_BillCheck #{fid}
  </select>

</mapper>