<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkpal.map.CabinetMapper">
  <resultMap id="BaseResultMap" type="com.linkpal.model.Cabinet">
    <id column="FID" jdbcType="INTEGER" property="fid" />
    <result column="FNumber" jdbcType="VARCHAR" property="fnumber" />
    <result column="FName" jdbcType="VARCHAR" property="fname" />
    <result column="FStockID" jdbcType="INTEGER" property="fstockid" />
    <result column="FRemark" jdbcType="NVARCHAR" property="fremark" />
    <result column="FCreateTime" jdbcType="TIMESTAMP" property="fcreatetime" />
    <association property="stock" javaType="com.linkpal.model.Stock">
      <id column="stID" property="fid"/>
      <result column="stNumber" property="stocknumber"/>
      <result column="stName" property="stockname"/>
      <result column="stAddress" property="stockaddress"/>
      <result column="stTel" property="stocktel"/>
    </association>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    t0.*,t1.fid stID,t1.stocknumber stNumber,t1.stockname stName,t1.stockaddress stAddress,t1.stocktel stTel
  </sql>
  <select id="selectByExample" parameterType="com.linkpal.model.example.CabinetExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from T_VS_Cabinet  t0
    left join t_vs_stock t1 on t0.fstockid=t1.fid
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_VS_Cabinet t0
    left join t_vs_stock t1 on t0.fstockid=t1.fid
    where t0.FID = #{fid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from T_VS_Cabinet
    where FID = #{fid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.linkpal.model.example.CabinetExample">
    delete from T_VS_Cabinet
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.linkpal.model.Cabinet">
    insert into T_VS_Cabinet ( FNumber, FName,
      FStockID, FRemark, FCreateTime
      )
    values ( #{fnumber,jdbcType=VARCHAR}, #{fname,jdbcType=VARCHAR},
      #{fstockid,jdbcType=INTEGER}, #{fremark,jdbcType=NVARCHAR}, #{fcreatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.linkpal.model.Cabinet">
    insert into T_VS_Cabinet
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="fnumber != null">
        FNumber,
      </if>
      <if test="fname != null">
        FName,
      </if>
      <if test="fstockid != null">
        FStockID,
      </if>
      <if test="fremark != null">
        FRemark,
      </if>
      <if test="fcreatetime != null">
        FCreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="fnumber != null">
        #{fnumber,jdbcType=VARCHAR},
      </if>
      <if test="fname != null">
        #{fname,jdbcType=VARCHAR},
      </if>
      <if test="fstockid != null">
        #{fstockid,jdbcType=INTEGER},
      </if>
      <if test="fremark != null">
        #{fremark,jdbcType=NVARCHAR},
      </if>
      <if test="fcreatetime != null">
        #{fcreatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.linkpal.model.example.CabinetExample" resultType="java.lang.Long">
    select count(*) from T_VS_Cabinet  t0
    left join t_vs_stock t1 on t0.fstockid=t1.fid
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update T_VS_Cabinet
    <set>
      <if test="record.fid != null">
        FID = #{record.fid,jdbcType=INTEGER},
      </if>
      <if test="record.fnumber != null">
        FNumber = #{record.fnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.fname != null">
        FName = #{record.fname,jdbcType=VARCHAR},
      </if>
      <if test="record.fstockid != null">
        FStockID = #{record.fstockid,jdbcType=INTEGER},
      </if>
      <if test="record.fremark != null">
        FRemark = #{record.fremark,jdbcType=NVARCHAR},
      </if>
      <if test="record.fcreatetime != null">
        FCreateTime = #{record.fcreatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update T_VS_Cabinet
    set FID = #{record.fid,jdbcType=INTEGER},
      FNumber = #{record.fnumber,jdbcType=VARCHAR},
      FName = #{record.fname,jdbcType=VARCHAR},
      FStockID = #{record.fstockid,jdbcType=INTEGER},
      FRemark = #{record.fremark,jdbcType=NVARCHAR},
      FCreateTime = #{record.fcreatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.linkpal.model.Cabinet">
    update T_VS_Cabinet
    <set>
      <if test="fnumber != null">
        FNumber = #{fnumber,jdbcType=VARCHAR},
      </if>
      <if test="fname != null">
        FName = #{fname,jdbcType=VARCHAR},
      </if>
      <if test="fstockid != null">
        FStockID = #{fstockid,jdbcType=INTEGER},
      </if>
      <if test="fremark != null">
        FRemark = #{fremark,jdbcType=NVARCHAR},
      </if>
      <if test="fcreatetime != null">
        FCreateTime = #{fcreatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where FID = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linkpal.model.Cabinet">
    update T_VS_Cabinet
    set FNumber = #{fnumber,jdbcType=VARCHAR},
      FName = #{fname,jdbcType=VARCHAR},
      FStockID = #{fstockid,jdbcType=INTEGER},
      FRemark = #{fremark,jdbcType=NVARCHAR},
      FCreateTime = #{fcreatetime,jdbcType=TIMESTAMP}
    where FID = #{fid,jdbcType=INTEGER}
  </update>



  <select id="getList"  resultMap="BaseResultMap">
    SELECT top ${pageSize}    <include refid="Base_Column_List" />
    from t_VS_Cabinet t0
    left join t_vs_stock t1 on t0.fstockid=t1.fid
    where
    t0.fid not in (
    select top ${pageIndex} fid from t_VS_Cabinet

    <where>
      <if test="t.fnumber!=null and t.fnumber!= '' ">
        and FNumber like '%${t.fnumber}%' 		</if>
      <if test="t.fname!=null and t.fname!= '' ">
        and FName like '%${t.fname}%'
      </if>
      <if test="t.fstockid>0 ">
        and FStockID=#{t.fstockid}
      </if>
    </where>
    )

    <if test="t.fnumber!=null and t.fnumber!= '' ">
      and FNumber like '%${t.fnumber}%' 		</if>
    <if test="t.fname!=null and t.fname!= '' ">
      and FName like '%${t.fname}%'
    </if>
    <if test="t.fstockid>0 ">
      and FStockID=#{t.fstockid}
    </if>

    order by t0.fid
  </select>
  <delete id="deleteBatch">
    delete from T_VS_Cabinet where FID in (
    <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
    )

  </delete>
</mapper>