<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkpal.map.DisplayMapper">

  <select id="getDisplayInfo" parameterType="java.util.Map" resultType="java.util.Map">
    exec Proc_Display #{fsnumber},#{fenumber},#{flag},#{fstock}
  </select>

</mapper>