<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 文件的命名 表名 + Mapper -->

<!-- namespace:接口包 + 接口名

 -->
<mapper namespace="com.linkpal.map.GsPrintMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"></cache>
    <resultMap type="com.linkpal.model.GsPrint" id="BaseResultMap">
        <id column="fid" property="fid"/>
        <result column="fgoodseatid" property="fgoodseatid"/>
        <result column="fcharge" property="fcharge"/>
        <result column="fmatype" property="fmatype"/>


        <association property="goodseat" javaType="com.linkpal.model.Goodseat">
            <id column="gID" property="fid"/>
            <result column="gNumber" property="fnumber"/>
            <association property="scabinet" javaType="com.linkpal.model.Scabinet">
                <id column="sID" property="fid"/>
                <result column="sNumber" property="fnumber"/>
                <result column="sName" property="fname"/>
            </association>

            <association property="cabinettype" javaType="com.linkpal.model.Cabinettype">
                <id column="ctID" property="fid"/>
                <result column="ctNumber" property="fnumber"/>
                <result column="ctName" property="fname"/>
                <result column="ctrows" property="frows"/>
                <result column="ctcolumns" property="fcolumns"/>
            </association>

            <association property="cabinet" javaType="com.linkpal.model.Cabinet">
                <id column="cID" property="fid"/>
                <result column="cNumber" property="fnumber"/>
                <result column="cName" property="fname"/>
            </association>

            <association property="stock" javaType="com.linkpal.model.Stock">
                <id column="stID" property="fid"/>
                <result column="stNumber" property="stocknumber"/>
                <result column="stName" property="stockname"/>
            </association>
        </association>
    </resultMap>


    <select id="getById" resultMap="BaseResultMap"  parameterType="int">
        select   t0.*,  t1.fid gid,t1.fnumber gnumber,t2.fid sID,t2.fnumber sNumber,t2.fname sName,
        t3.fid cID,t3.fnumber cNumber,t3.fname cName,t4.fid ctID,t4.fnumber ctnumber,
        t4.fname ctname,t4.frows ctrows,t4.fcolumns ctcolumns,t5.fid stID,t5.stocknumber stNumber,
        t5.stockname stName from T_VS_GsPrint t0
    left join t_vs_goodseat t1 on t0.fgoodseatid=t1.fid
    left join t_vs_scabinet t2 on t1.fscabinetid=t2.fid
    left join t_vs_cabinet t3 on t2.fcabinetid=t3.fid
   left join t_vs_cabinettype t4 on t2.fcabinettypeid=t4.fid
    left join t_vs_stock t5 on t2.fstockid=t5.fid
    where t0.fid=#{fid}
    </select>

    <insert id="add" parameterType="com.linkpal.model.GsPrint">
        INSERT INTO T_VS_GsPrint(fgoodseatid,fcharge
           ,fmatype)
        VALUES(
           #{fgoodseatid,jdbcType=INTEGER}
           ,#{fcharge,jdbcType=VARCHAR}
           ,#{fmatype,jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="com.linkpal.model.GsPrint">
        UPDATE T_VS_GsPrint
        SET fgoodseatid=#{fgoodseatid,jdbcType=INTEGER},fcharge=#{fcharge,jdbcType=VARCHAR} ,fmatype=#{fmatype,jdbcType=VARCHAR} WHERE FID=#{fid}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM T_VS_GsPrint
        WHERE FID=#{ID}
    </delete>

    <delete id="deleteBatch">
        delete from T_VS_GsPrint where FID in (
        <foreach collection="array" index="index" item="item" open="" separator="," close="">
            #{item}
        </foreach>
        )

    </delete>



    <select id="getList"  resultMap="BaseResultMap">
        SELECT top ${pageSize} t0.*,  t1.fid gid,t1.fnumber gnumber,t2.fid sID,t2.fnumber sNumber,t2.fname sName,
        t3.fid cID,t3.fnumber cNumber,t3.fname cName,t4.fid ctID,t4.fnumber ctnumber,
        t4.fname ctname,t4.frows ctrows,t4.fcolumns ctcolumns,t5.fid stID,t5.stocknumber stNumber,
        t5.stockname stName from T_VS_GsPrint t0
        left join t_vs_goodseat t1 on t0.fgoodseatid=t1.fid
        left join t_vs_scabinet t2 on t1.fscabinetid=t2.fid
        left join t_vs_cabinet t3 on t2.fcabinetid=t3.fid
        left join t_vs_cabinettype t4 on t2.fcabinettypeid=t4.fid
        left join t_vs_stock t5 on t2.fstockid=t5.fid
        where
        t0.fid not in (
        select top ${pageIndex} tt0.fid from T_VS_GsPrint tt0
        left join t_vs_goodseat tt1 on tt0.fgoodseatid=tt1.fid
        left join t_vs_scabinet tt2 on tt1.fscabinetid=tt2.fid
        left join t_vs_cabinet tt3 on tt2.fcabinetid=tt3.fid
        left join t_vs_cabinettype tt4 on tt2.fcabinettypeid=tt4.fid
        left join t_vs_stock tt5 on tt2.fstockid=tt5.fid

      -- where and tt2.fcabinetid>19
        <where>
           <if test="t.fgoodseatid>0 ">
               and tt0.fgoodseatid =#{t.fgoodseatid}
           </if>
           <if test="t.fscabinetid>0">
               and tt1.fscabinetid =#{t.fscabinetid} 		</if>
           <if test="t.fcabinetid>0">
               and tt2.fcabinetid =#{t.fcabinetid} 		</if>
           <if test="t.fcabinettypeid>0">
               and tt2.fcabinettypeid =#{t.fcabinettypeid} 		</if>
           <if test="t.fstockid>0">
               and tt2.fstockid =#{t.fstockid} 		</if>
</where>
        order by tt0.fid
        )

        <if test="t.fgoodseatid>0 ">
            and t0.fgoodseatid =#{t.fgoodseatid}
        </if>
        <if test="t.fscabinetid>0">
            and t1.fscabinetid =#{t.fscabinetid} 		</if>
        <if test="t.fcabinetid>0">
            and t2.fcabinetid =#{t.fcabinetid} 		</if>
        <if test="t.fcabinettypeid>0">
            and t2.fcabinettypeid =#{t.fcabinettypeid} 		</if>
        <if test="t.fstockid>0">
            and t2.fstockid =#{t.fstockid} 		</if>

--and t2.fcabinetid>19
    </select>

    <select id="getTotalNum" parameterType="com.linkpal.model.GsPrint" resultType="int">
        SELECT count(*)
        from T_VS_GsPrint tt0
        left join t_vs_goodseat tt1 on tt0.fgoodseatid=tt1.fid
        left join t_vs_scabinet tt2 on tt1.fscabinetid=tt2.fid
        left join t_vs_cabinet tt3 on tt2.fcabinetid=tt3.fid
        left join t_vs_cabinettype tt4 on tt2.fcabinettypeid=tt4.fid
        left join t_vs_stock tt5 on tt2.fstockid=tt5.fid


        --where and tt2.fcabinetid>19
        <where>
            <if test="fgoodseatid>0 ">
                and tt0.fgoodseatid =#{fgoodseatid}
            </if>
            <if test="fscabinetid>0">
                and tt1.fscabinetid =#{fscabinetid} 		</if>
            <if test="fcabinetid>0">
                and tt2.fcabinetid =#{fcabinetid} 		</if>
            <if test="fstockid>0">
                and tt2.fstockid =#{fstockid} 		</if>
            <if test="fcabinettypeid>0">
                and tt2.fcabinettypeid =#{fcabinettypeid} 		</if>

        </where>

    </select>


</mapper>