<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkpal.map.InventryMapper">
  <cache type="org.mybatis.caches.ehcache.EhcacheCache"></cache>
  <resultMap id="BaseResultMap" type="com.linkpal.model.Inventry">
    <id column="FID" jdbcType="INTEGER" property="fid" />
    <result column="FParentID" jdbcType="INTEGER" property="fparentid" />
    <result column="FMaterialID" jdbcType="INTEGER" property="fmaterialid" />
    <result column="FGoodseatID" jdbcType="INTEGER" property="fgoodseatid" />
    <result column="FQty" jdbcType="DOUBLE" property="fqty" />
    <result column="FinvQty" jdbcType="DOUBLE" property="finvqty" />
    <result column="FCreateTime" jdbcType="TIMESTAMP" property="fcreatetime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    FID, FParentID, FMaterialID, FGoodseatID, FQty,
    (select isnull(SUM(a.fqty),0) from T_VS_Inventory a where a.fmaid=FMaterialID and a.fgoodseatid=FGoodseatID)FinvQty,
    FCreateTime
  </sql>
  <select id="selectByExample" parameterType="com.linkpal.model.InventryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from T_VS_InvEntry
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_VS_InvEntry
    where FID = #{fid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from T_VS_InvEntry
    where FID = #{fid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.linkpal.model.InventryExample">
    delete from T_VS_InvEntry
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.linkpal.model.Inventry">
    insert into T_VS_InvEntry (FParentID, FMaterialID,
      FGoodseatID, FQty, FCreateTime
      )
    values ( #{fparentid,jdbcType=INTEGER}, #{fmaterialid,jdbcType=INTEGER},
      #{fgoodseatid,jdbcType=INTEGER}, #{fqty,jdbcType=DOUBLE}, #{fcreatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.linkpal.model.Inventry">
    insert into T_VS_InvEntry
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="fparentid != null">
        FParentID,
      </if>
      <if test="fmaterialid != null">
        FMaterialID,
      </if>
      <if test="fgoodseatid != null">
        FGoodseatID,
      </if>
      <if test="fqty != null">
        FQty,
      </if>
      <if test="fcreatetime != null">
        FCreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="fparentid != null">
        #{fparentid,jdbcType=INTEGER},
      </if>
      <if test="fmaterialid != null">
        #{fmaterialid,jdbcType=INTEGER},
      </if>
      <if test="fgoodseatid != null">
        #{fgoodseatid,jdbcType=INTEGER},
      </if>
      <if test="fqty != null">
        #{fqty,jdbcType=DOUBLE},
      </if>
      <if test="fcreatetime != null">
        #{fcreatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.linkpal.model.InventryExample" resultType="java.lang.Long">
    select count(*) from T_VS_InvEntry
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update T_VS_InvEntry
    <set>
      <if test="record.fid != null">
        FID = #{record.fid,jdbcType=INTEGER},
      </if>
      <if test="record.fparentid != null">
        FParentID = #{record.fparentid,jdbcType=INTEGER},
      </if>
      <if test="record.fmaterialid != null">
        FMaterialID = #{record.fmaterialid,jdbcType=INTEGER},
      </if>
      <if test="record.fgoodseatid != null">
        FGoodseatID = #{record.fgoodseatid,jdbcType=INTEGER},
      </if>
      <if test="record.fqty != null">
        FQty = #{record.fqty,jdbcType=DOUBLE},
      </if>
      <if test="record.fcreatetime != null">
        FCreateTime = #{record.fcreatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update T_VS_InvEntry
    set FID = #{record.fid,jdbcType=INTEGER},
      FParentID = #{record.fparentid,jdbcType=INTEGER},
      FMaterialID = #{record.fmaterialid,jdbcType=INTEGER},
      FGoodseatID = #{record.fgoodseatid,jdbcType=INTEGER},
      FQty = #{record.fqty,jdbcType=DOUBLE},
      FCreateTime = #{record.fcreatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.linkpal.model.Inventry">
    update T_VS_InvEntry
    <set>
      <if test="fparentid != null">
        FParentID = #{fparentid,jdbcType=INTEGER},
      </if>
      <if test="fmaterialid != null">
        FMaterialID = #{fmaterialid,jdbcType=INTEGER},
      </if>
      <if test="fgoodseatid != null">
        FGoodseatID = #{fgoodseatid,jdbcType=INTEGER},
      </if>
      <if test="fqty != null">
        FQty = #{fqty,jdbcType=DOUBLE},
      </if>
      <if test="fcreatetime != null">
        FCreateTime = #{fcreatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where FID = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linkpal.model.Inventry">
    update T_VS_InvEntry
    set FParentID = #{fparentid,jdbcType=INTEGER},
      FMaterialID = #{fmaterialid,jdbcType=INTEGER},
      FGoodseatID = #{fgoodseatid,jdbcType=INTEGER},
      FQty = #{fqty,jdbcType=DOUBLE},
      FCreateTime = #{fcreatetime,jdbcType=TIMESTAMP}
    where FID = #{fid,jdbcType=INTEGER}
  </update>



</mapper>