<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkpal.map.OrganizationMapper">
  <cache type="org.mybatis.caches.ehcache.EhcacheCache"></cache>
  <resultMap id="BaseResultMap" type="com.linkpal.model.Organization">
    <id column="fid" jdbcType="INTEGER" property="fid" />
    <result column="organizationNumber" jdbcType="VARCHAR" property="organizationnumber" />
    <result column="organizationName" jdbcType="VARCHAR" property="organizationname" />
    <result column="organizationAddress" jdbcType="VARCHAR" property="organizationaddress" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    fid, organizationNumber, organizationName, organizationAddress
  </sql>
  <select id="selectByExample" parameterType="com.linkpal.model.example.OrganizationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from T_VS_Organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_VS_Organization
    where fid = #{fid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from T_VS_Organization
    where fid = #{fid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.linkpal.model.example.OrganizationExample">
    delete from T_VS_Organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.linkpal.model.Organization" useGeneratedKeys="true" keyProperty="fid">
    insert into T_VS_Organization (organizationNumber, organizationName,
      organizationAddress,createtime)
    values (#{organizationnumber,jdbcType=VARCHAR}, #{organizationname,jdbcType=VARCHAR},
      #{organizationaddress,jdbcType=VARCHAR},#{createtime})
  </insert>
  <insert id="insertSelective" parameterType="com.linkpal.model.Organization">
    insert into T_VS_Organization
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        fid,
      </if>
      <if test="organizationnumber != null">
        organizationNumber,
      </if>
      <if test="organizationname != null">
        organizationName,
      </if>
      <if test="organizationaddress != null">
        organizationAddress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="organizationnumber != null">
        #{organizationnumber,jdbcType=VARCHAR},
      </if>
      <if test="organizationname != null">
        #{organizationname,jdbcType=VARCHAR},
      </if>
      <if test="organizationaddress != null">
        #{organizationaddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.linkpal.model.example.OrganizationExample" resultType="java.lang.Long">
    select count(*) from T_VS_Organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="getDetail" resultType="com.linkpal.model.Organization" parameterType="java.lang.String">
    SELECT * FROM T_VS_Organization WHERE organizationNumber = #{organizationnumber,jdbcType=VARCHAR}
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update T_VS_Organization
    <set>
      <if test="record.fid != null">
        fid = #{record.fid,jdbcType=INTEGER},
      </if>
      <if test="record.organizationnumber != null">
        organizationNumber = #{record.organizationnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationname != null">
        organizationName = #{record.organizationname,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationaddress != null">
        organizationAddress = #{record.organizationaddress,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update T_VS_Organization
    set organizationNumber = #{record.organizationnumber,jdbcType=VARCHAR},
      organizationName = #{record.organizationname,jdbcType=VARCHAR},
      organizationAddress = #{record.organizationaddress,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.linkpal.model.Organization">
    update T_VS_Organization
    <set>
      <if test="organizationnumber != null">
        organizationNumber = #{organizationnumber,jdbcType=VARCHAR},
      </if>
      <if test="organizationname != null">
        organizationName = #{organizationname,jdbcType=VARCHAR},
      </if>
      <if test="organizationaddress != null">
        organizationAddress = #{organizationaddress,jdbcType=VARCHAR},
      </if>
    </set>
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linkpal.model.Organization">
    update T_VS_Organization
    set organizationNumber = #{organizationnumber,jdbcType=VARCHAR},
      organizationName = #{organizationname,jdbcType=VARCHAR},
      organizationAddress = #{organizationaddress,jdbcType=VARCHAR}
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <select id="getPageList" parameterType="map" resultMap="BaseResultMap">
    SELECT TOP #{pageSize, jdbcType=INTEGER} * FROM T_VS_Organization WHERE fid NOT IN (SELECT TOP #{perSize, jdbcType=INTEGER} fid from T_VS_Organization)
  </select>
  <select id="getTipPageList" parameterType="map" resultMap="BaseResultMap">
    SELECT TOP #{pageSize, jdbcType=INTEGER} * FROM T_VS_Organization WHERE fid NOT IN (SELECT TOP #{perSize, jdbcType=INTEGER} fid from T_VS_Organization) AND
    organizationNumber LIKE #{organizationnumber, jdbcType=VARCHAR}
  </select>

  <delete id="deleteBatch">
    delete from T_VS_Organization where FID in (
    <foreach collection="array" index="index" item="item" open="" separator="," close="">
      #{item}
    </foreach>
    )

  </delete>

  <select id="getList"  resultType="com.linkpal.model.Organization">
    SELECT top ${pageSize} *
    from t_VS_Organization
    where
    fid not in (
    select top ${pageIndex} fid from t_VS_Organization

    <where>
      <if test="t.organizationnumber!=null and t.organizationnumber!= '' ">
        and organizationnumber like '%${t.organizationnumber}%' 		</if>
      <if test="t.organizationname!=null and t.organizationname!= '' ">
        and organizationname like '%${t.organizationname}%'
      </if>

    </where>
    )

    <if test="t.organizationnumber!=null and t.organizationnumber!= '' ">
      and organizationnumber like '%${t.organizationnumber}%' 		</if>
    <if test="t.organizationname!=null and t.organizationname!= '' ">
      and organizationname like '%${t.organizationname}%'
    </if>


    order by fid
  </select>

</mapper>