<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkpal.map.PermissionMapper">
  <cache type="org.mybatis.caches.ehcache.EhcacheCache"></cache>
  <resultMap id="BaseResultMap" type="com.linkpal.model.Permission">
    <id column="FID" jdbcType="INTEGER" property="fid" />
    <result column="FNumber" jdbcType="VARCHAR" property="fnumber" />
    <result column="FName" jdbcType="VARCHAR" property="fname" />
    <result column="FUrl" jdbcType="VARCHAR" property="furl" />
    <result column="FisNav" jdbcType="INTEGER" property="fisnav" />
    <result column="FCreateTime" jdbcType="TIMESTAMP" property="fcreatetime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    FID, FNumber, FName, FUrl, FisNav, FCreateTime
  </sql>
  <select id="selectByExample" parameterType="com.linkpal.model.example.PermissionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from T_VS_Permission
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_VS_Permission
    where FID = #{fid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from T_VS_Permission
    where FID = #{fid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.linkpal.model.example.PermissionExample">
    delete from T_VS_Permission
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.linkpal.model.Permission">
    insert into T_VS_Permission ( FNumber, FName,
      FUrl, FisNav, FCreateTime
      )
    values ( #{fnumber,jdbcType=VARCHAR}, #{fname,jdbcType=VARCHAR},
      #{furl,jdbcType=VARCHAR}, #{fisnav,jdbcType=INTEGER}, #{fcreatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.linkpal.model.Permission">
    insert into T_VS_Permission
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="fnumber != null">
        FNumber,
      </if>
      <if test="fname != null">
        FName,
      </if>
      <if test="furl != null">
        FUrl,
      </if>
      <if test="fisnav != null">
        FisNav,
      </if>
      <if test="fcreatetime != null">
        FCreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="fnumber != null">
        #{fnumber,jdbcType=VARCHAR},
      </if>
      <if test="fname != null">
        #{fname,jdbcType=VARCHAR},
      </if>
      <if test="furl != null">
        #{furl,jdbcType=VARCHAR},
      </if>
      <if test="fisnav != null">
        #{fisnav,jdbcType=INTEGER},
      </if>
      <if test="fcreatetime != null">
        #{fcreatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.linkpal.model.example.PermissionExample" resultType="java.lang.Long">
    select count(*) from T_VS_Permission
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update T_VS_Permission
    <set>
      <if test="record.fid != null">
        FID = #{record.fid,jdbcType=INTEGER},
      </if>
      <if test="record.fnumber != null">
        FNumber = #{record.fnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.fname != null">
        FName = #{record.fname,jdbcType=VARCHAR},
      </if>
      <if test="record.furl != null">
        FUrl = #{record.furl,jdbcType=VARCHAR},
      </if>
      <if test="record.fisnav != null">
        FisNav = #{record.fisnav,jdbcType=INTEGER},
      </if>
      <if test="record.fcreatetime != null">
        FCreateTime = #{record.fcreatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update T_VS_Permission
    set FID = #{record.fid,jdbcType=INTEGER},
      FNumber = #{record.fnumber,jdbcType=VARCHAR},
      FName = #{record.fname,jdbcType=VARCHAR},
      FUrl = #{record.furl,jdbcType=VARCHAR},
      FisNav = #{record.fisnav,jdbcType=INTEGER},
      FCreateTime = #{record.fcreatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.linkpal.model.Permission">
    update T_VS_Permission
    <set>
      <if test="fnumber != null">
        FNumber = #{fnumber,jdbcType=VARCHAR},
      </if>
      <if test="fname != null">
        FName = #{fname,jdbcType=VARCHAR},
      </if>
      <if test="furl != null">
        FUrl = #{furl,jdbcType=VARCHAR},
      </if>
      <if test="fisnav != null">
        FisNav = #{fisnav,jdbcType=INTEGER},
      </if>
      <if test="fcreatetime != null">
        FCreateTime = #{fcreatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where FID = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linkpal.model.Permission">
    update T_VS_Permission
    set FNumber = #{fnumber,jdbcType=VARCHAR},
      FName = #{fname,jdbcType=VARCHAR},
      FUrl = #{furl,jdbcType=VARCHAR},
      FisNav = #{fisnav,jdbcType=INTEGER},
      FCreateTime = #{fcreatetime,jdbcType=TIMESTAMP}
    where FID = #{fid,jdbcType=INTEGER}
  </update>

  <select id="getList"  resultType="com.linkpal.model.Permission" >
    SELECT  top ${pageSize} t0.* from t_vs_permission t0
    where
    t0.fid not in (
    select top ${pageIndex} fid from t_vs_permission

    <where>

      <if test="t.fnumber!=null and t.fnumber!= '' ">
        and fnumber like '%${t.fnumber}%'
      </if>

      <if test="t.fname!=null and t.fname!= '' ">
        and fname like '%${t.fname}%'
      </if>

    </where>
    )


    <if test="t.fnumber!=null and t.fnumber!= '' ">
      and t0.fnumber like '%${t.fnumber}%'
    </if>

    <if test="t.fname!=null and t.fname!= '' ">
      and t0.fname like '%${t.fname}%'
    </if>


    order by t0.fid
  </select>

  <select id="getTotalNum" parameterType="com.linkpal.model.Permission" resultType="int">
    SELECT count(*)
    FROM t_vs_permission
    <where>
      <if test="fnumber!=null and fnumber!= '' ">
        and fnumber like '%${fnumber}%'
      </if>

      <if test="fname!=null and fname!= '' ">
        and fname like '%${fname}%'
      </if>

    </where>
  </select>
  <select id="checkOnly"  resultType="int">
    SELECT Count(*)
    FROM t_vs_permission
    where fnumber=#{fnumber}
  </select>
</mapper>