/* Cubic Bezier Transition */
/*********** 
    Page Header
    ***********/
/* Header search bar, toggler button & top menu */
.page-header.navbar {
    /*background: #ffffff;*/
    background: -webkit-linear-gradient(#0061ab,#0061ab); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#0061ab, #0061ab); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#0061ab, #0061ab); /* Firefox 3.6 - 15 */
    background: linear-gradient(#0061ab, #0061ab);
    /*box-shadow: 0px 2px 6px rgba(17,74,105,0.27);*/
}

    .page-header.navbar .top-menu .navbar-nav {
        /* Extended Dropdowns */
        /* Notification */
        /* Inbox */
        /* Tasks */
        /* User */
        /* Language */
        /* Dark version */
    }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > i {
            color: #79869a;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle .badge.badge-default {
            background-color: #36c6d3;
            color: #ffffff;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover {
            background-color: #effaff;
        }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover > i {
                color: #8f8d84;
            }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle {
            background-color: #eff3ff;
        }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle > i {
                color: #8f8d84;
            }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu {
            border-color: #e7eaf0;
        }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu:after {
                border-bottom-color: #eaedf2;
            }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external {
                background: #eaedf2;
            }

                .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > h3 {
                    color: #62878f;
                }

                .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a {
                    color: #337ab7;
                }

                    .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a:hover {
                        color: #23527c;
                        text-decoration: none;
                    }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {
                border-bottom: 1px solid #EFF2F6 !important;
                color: #888888;
            }

                .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a:hover {
                    background: #f8f9fa;
                }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
            color: #ffffff;
            font-size:16px;
            font-weight: bold;
        }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username:hover {
                color: #8f8d84;
            }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle > .username {
            color: #8f8d84;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > i {
            color: #f2f8ff;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-menu {
            width: 185px;
        }

    .page-header.navbar .menu-toggler {
        background-image: url(../img/sidebar_toggler_icon.png);
    }

/* Default Horizontal Menu */
.page-header.navbar {
    /* Default Mega Menu */
    /* Light Mega Menu */
}

    .page-header.navbar .hor-menu .navbar-nav {
        /* Mega menu content */
        /* Classic menu */
    }

        .page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu {
            box-shadow: 0px 2px 8px rgba(59, 59, 59, 0.17);
        }

            .page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > h3 {
                color: #c6cfda;
            }

        .page-header.navbar .hor-menu .navbar-nav > li > a {
            color: #c6cfda;
        }

            .page-header.navbar .hor-menu .navbar-nav > li > a > i {
                color: #788ea8;
            }

            .page-header.navbar .hor-menu .navbar-nav > li:hover > a,
            .page-header.navbar .hor-menu .navbar-nav > li.open > a,
            .page-header.navbar .hor-menu .navbar-nav > li > a:hover {
                color: #d5dce4;
                background: #3f4f62 !important;
            }

                .page-header.navbar .hor-menu .navbar-nav > li:hover > a > i,
                .page-header.navbar .hor-menu .navbar-nav > li.open > a > i,
                .page-header.navbar .hor-menu .navbar-nav > li > a:hover > i {
                    color: #889bb2;
                }

        .page-header.navbar .hor-menu .navbar-nav > li.active > a,
        .page-header.navbar .hor-menu .navbar-nav > li.active > a,
        .page-header.navbar .hor-menu .navbar-nav > li.current > a,
        .page-header.navbar .hor-menu .navbar-nav > li.current > a {
            color: white;
            background: #36c6d3 !important;
        }

            .page-header.navbar .hor-menu .navbar-nav > li.active > a > i,
            .page-header.navbar .hor-menu .navbar-nav > li.active > a > i,
            .page-header.navbar .hor-menu .navbar-nav > li.current > a > i,
            .page-header.navbar .hor-menu .navbar-nav > li.current > a > i {
                color: #788ea8;
            }

        .page-header.navbar .hor-menu .navbar-nav > li.active .selected,
        .page-header.navbar .hor-menu .navbar-nav > li.current .selected {
            /*border-top: 6px solid #36c6d3;*/
        }

        .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu {
            box-shadow: 5px 5px rgba(63, 79, 98, 0.2);
            background: #3f4f62;
        }

            .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a {
                color: #c6cfda;
            }

                .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a > i {
                    color: #c6cfda;
                }

            .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li:hover > a {
                color: #f1f3f6;
                background: #47596e;
            }

                .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li:hover > a > i {
                    color: #f1f3f6;
                }

            .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.active > a,
            .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.active > a:hover,
            .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.current > a,
            .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.current > a:hover {
                color: #f1f3f6;
                background: #47596e;
            }

                .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.active > a > i,
                .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.active > a:hover > i,
                .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.current > a > i,
                .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.current > a:hover > i {
                    color: #f1f3f6;
                }

            .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.divider {
                background-color: #495c72;
            }

        .page-header.navbar .hor-menu .navbar-nav > li .dropdown-submenu > a:after {
            color: #c6cfda;
        }

    .page-header.navbar .hor-menu.hor-menu-light .navbar-nav {
        /* Mega menu content */
        /* Classic menu */
    }

        .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.mega-menu-dropdown > .dropdown-menu {
            box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
        }

            .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > h3 {
                color: #666;
            }

        .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li > a {
            color: #c6cfda;
        }

            .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li > a > i {
                color: #788ea8;
            }

            .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li:hover > a,
            .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li > a:hover {
                color: #d5dce4;
                background: #3f4f62;
            }

                .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li:hover > a > i,
                .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li > a:hover > i {
                    color: #889bb2;
                }

        .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.open > a {
            color: #333 !important;
            background: white !important;
        }

            .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.open > a > i {
                color: #333 !important;
            }

        .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a,
        .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a:hover,
        .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a,
        .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a:hover {
            color: white;
            background: #36c6d3;
        }

            .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a > i,
            .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a:hover > i,
            .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a > i,
            .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a:hover > i {
                color: #788ea8;
            }

        .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu {
            box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
            background: white;
        }

            .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li > a {
                color: #000;
            }

                .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li > a > i {
                    color: #888;
                }

            .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li:hover > a {
                color: #000;
                background: whitesmoke;
            }

                .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li:hover > a > i {
                    color: #666;
                }

            .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.active > a,
            .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.active > a:hover,
            .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.current > a,
            .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.current > a:hover {
                color: #000;
                background: whitesmoke;
            }

                .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.active > a > i,
                .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.active > a:hover > i,
                .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.current > a > i,
                .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.current > a:hover > i {
                    color: #666;
                }

            .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.divider {
                background-color: whitesmoke;
            }

        .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu {
            border: 1px solid #f2f2f2;
        }

        .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li > .dropdown-menu {
            border-top: 0;
        }
/* Page Content */
.page-content {
    background-color: #ffffff;
    box-shadow: 5px 5px 5px rgba(13,5,9,0.22);
}

/* Page sidebar */
.page-sidebar {
    background-color: none;
}

    .page-sidebar .page-sidebar-menu {
        background-color: #fbfafb;
        box-shadow: 5px 5px 10px rgba(151,151,151,0.2);
        border: 1px solid  #fbfafb;
        /* 1st level links */
        /* All links */
    }

        .page-sidebar .page-sidebar-menu > li > a {
            border: none;
            color: #3a3a3a;
            font-weight: 500;
        }

            .page-sidebar .page-sidebar-menu > li > a > i {
                color: #3a3a3a;
            }

                .page-sidebar .page-sidebar-menu > li > a > i[class^="icon-"],
                .page-sidebar .page-sidebar-menu > li > a > i[class*="icon-"] {
                    color: #3c3b3c;
                }

            .page-sidebar .page-sidebar-menu > li > a > .arrow:before,
            .page-sidebar .page-sidebar-menu > li > a > .arrow.open:before {
                color: #f9fcfb;
            }

        .page-sidebar .page-sidebar-menu > li.heading > h3 {
            color: #708096;
        }

        .page-sidebar .page-sidebar-menu > li:hover > a,
        .page-sidebar .page-sidebar-menu > li.open > a {
            background: #147ecf;
            color: #fbfafb;
            border-left:4px solid #095489 !important;
            width: 100% !important;
        }

            .page-sidebar .page-sidebar-menu > li:hover > a > i,
            .page-sidebar .page-sidebar-menu > li.open > a > i {
                color: #fbfafb;
            }

            .page-sidebar .page-sidebar-menu > li:hover > a > .arrow:before,
            .page-sidebar .page-sidebar-menu > li:hover > a > .arrow.open:before,
            .page-sidebar .page-sidebar-menu > li.open > a > .arrow:before,
            .page-sidebar .page-sidebar-menu > li.open > a > .arrow.open:before {
                color: #fbfafb;
            }

        .page-sidebar .page-sidebar-menu > li.active > a,
        .page-sidebar .page-sidebar-menu > li.active.open > a {
            background: #58abf4;
            color: #fbfafb;
            border-left: 4px solid #4789d8;
        }

            .page-sidebar .page-sidebar-menu > li.active > a:hover,
            .page-sidebar .page-sidebar-menu > li.active.open > a:hover {
                background: #58abf4;
            }

            .page-sidebar .page-sidebar-menu > li.active > a > i,
            .page-sidebar .page-sidebar-menu > li.active.open > a > i {
                color: #fbfafb;
            }

            .page-sidebar .page-sidebar-menu > li.active > a > .arrow:before,
            .page-sidebar .page-sidebar-menu > li.active > a > .arrow.open:before,
            .page-sidebar .page-sidebar-menu > li.active.open > a > .arrow:before,
            .page-sidebar .page-sidebar-menu > li.active.open > a > .arrow.open:before {
                color: #fbfafb;
            }

        .page-sidebar .page-sidebar-menu > li.active + li > a {
            border-top-color: transparent;
        }

        .page-sidebar .page-sidebar-menu > li.active.open + li > a {
            border-top-color: #3d4957;
        }

        .page-sidebar .page-sidebar-menu > li:last-child > a {
            border-bottom: 1px solid transparent !important;
        }

        .page-sidebar .page-sidebar-menu li > a > .arrow:before,
        .page-sidebar .page-sidebar-menu li > a > .arrow.open:before {
            color: #3c3b3c;
        }

        .page-sidebar .page-sidebar-menu li:hover > a > .arrow:before,
        .page-sidebar .page-sidebar-menu li:hover > a > .arrow.open:before {
            color: #fbfafb;
        }

        .page-sidebar .page-sidebar-menu li.active > a > .arrow:before,
        .page-sidebar .page-sidebar-menu li.active > a > .arrow.open:before {
            color: #fbfafb;
        }

.page-sidebar-closed .page-sidebar .page-sidebar-menu:hover .sub-menu {
    background-color: #ffffff;
}

.page-sidebar .page-sidebar-menu .sub-menu > li > a {
    color: #daf6f5;
}

    .page-sidebar .page-sidebar-menu .sub-menu > li > a > i {
        color: #daf6f5;
    }

        .page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class^="icon-"],
        .page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class*="icon-"] {
            color: #daf6f5;
        }

    .page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow.open:before {
        color: #daf6f5;
    }

.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a,
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a,
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a {
  /*   background: #dbf0fa !important; */
  color:#37a8a1 !important;
}


    .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > i,
    .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > i,
    .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > i {
        color: #3c3b3c;
        color: #959fae;
    }

    .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before {
        color: #3c3b3c;
    }

.page-sidebar .sidebar-toggler {
    background: url(../img/sidebar_inline_toggler_icon.png);
}

/******
    Page Footer 
    ******/
.page-footer {
    background-color:#364150;
}
.page-footer .page-footer-inner {
    color: #98a6ba;
}

.page-footer-fixed .page-footer {
    background-color: #28303b;
}

@media (min-width: 992px) {
    /* 992px */
    /* Sidebar menu closed */
    .page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu {
        box-shadow: 5px 5px rgba(44, 53, 66, 0.2);
    }

        .page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu.sidebar-toggler-wrapper {
            box-shadow: none;
        }

    .page-sidebar-menu.page-sidebar-menu-closed > li:hover {
        box-shadow: 5px 5px 10px rgba(151, 151, 151, 0.2);
    }

        .page-sidebar-menu.page-sidebar-menu-closed > li:hover.sidebar-toggler-wrapper {
            box-shadow: none;
        }

        .page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu {
            box-shadow: 5px 5px 10px rgba(151, 151, 151, 0.2);
        }

            .page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu.sidebar-toggler-wrapper {
                box-shadow: none;
            }

    @media (max-width: 991px) {
        /* 991px */
        /* Page sidebar */
        .page-sidebar {
            background-color: #28303b;
            /* light sidebar */
        }

            .page-sidebar .page-sidebar-menu > li > a {
                /*border-top: 1px solid #364150;*/
            }

            .page-sidebar .page-sidebar-menu > li:hover > a,
            .page-sidebar .page-sidebar-menu > li.open > a {
                background: #2e3744;
            }

            .page-sidebar .page-sidebar-menu > li:last-child > a {
                border-bottom: 0 !important;
            }

            .page-sidebar .page-sidebar-menu > li .sub-menu {
                background-color: #28303b !important;
            }
    }

    @media (max-width: 480px) {
        /* 480px */
        .page-header.navbar {
            /* Top menu */
        }

            .page-header.navbar .top-menu {
                background-color: #364150;
            }

        .page-header-fixed-mobile .page-header.navbar .top-menu {
            background-color: #2b3643;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
            background-color: #415265;
        }

        .page-header-fixed-mobile .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
            background: none;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle:hover {
            background-color: #3f4f62;
        }
    }

    /****
    Boby
    ****/
    body {
        background-color: #edecec;
    }

    /****
 CSS3 Spinner Bar
****/
    .page-spinner-bar > div,
    .block-spinner-bar > div {
        background: #4bccd8;
    }
}
